<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.food">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food">
        <activity
            android:name=".Activity.dia_chi_them"
            android:exported="true" />
        <activity
            android:name=".Activity.dia_chi"
            android:exported="true" />
        <activity
            android:name=".Activity.Supportsms2"
            android:exported="true" />
        <activity
            android:name=".Activity.Supportsms1"
            android:exported="true" />
        <activity
            android:name=".Activity.Supportsms"
            android:exported="true" />
        <activity
            android:name=".Activity.UpdatePSActivity"
            android:exported="true" />
        <activity
            android:name=".PersonActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LienHe"
            android:exported="true" />
        <activity
            android:name=".Activity.Account"
            android:exported="true" />
        <activity
            android:name=".Activity.VerificationMobiphone"
            android:exported="true" />
        <activity
            android:name=".Activity.Mobiphone"
            android:exported="true" />
        <activity
            android:name=".Activity.MethodLogin"
            android:exported="true" />
        <activity
            android:name=".Activity.CartListActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ShowDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>